@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.css';

/* base  */
@layer components {
   body {
      width: 100%;
      font-family: 'Inter', sans-serif;
      line-height: 1.5;
      overflow: hidden;
   }
   *::-webkit-scrollbar {
      width: 6px;
   }
   *::-webkit-scrollbar-thumb {
      border-radius: 4px;
      box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
   }
   *::-webkit-scrollbar-track {
      box-shadow: inset #fff;
      border-radius: 4px;
   }
   button,
   a {
      outline: none;
   }

   /*--------- custom css ---------*/
   .f-center {
      @apply flex items-center justify-center;
   }

   .background-transition {
      transition: background-color 0.2s ease;
   }

   /* ----- Header ---- */
   .btn-navigate {
      @apply flex items-center justify-center bg-transparent outline-none border-none font-normal py-[1px] pr-[22px] cursor-pointer;
   }

   .spin {
      animation: spinner 1s infinite linear forwards;
   }
   /* search box */
   @keyframes spinner {
      100% {
         transform: translateY(-50%) rotate(360deg);
      }
   }

   .text-truncate-1 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
   }
   .text-truncate-2 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
   }

   /* ----- Custom scroll ---- */
   .view {
      @apply absolute inset-0 overflow-y-scroll overflow-x-hidden my-0 mx-auto;
   }
   .view::-webkit-scrollbar {
      display: none;
      appearance: none;
   }
   body .mark {
      -webkit-mask-image: linear-gradient(
         180deg,
         hsla(0, 0%, 100%, 0),
         hsla(0, 0%, 100%, 0.8) 10%,
         #fff 25%,
         #fff
      );
   }

   /* ----- Loading ---- */
   .fingerprint-spinner,
   .fingerprint-spinner * {
      box-sizing: border-box;
   }

   .fingerprint-spinner {
      height: 140px;
      width: 140px;
      padding: 2px;
      overflow: hidden;
      position: relative;
   }

   .fingerprint-spinner .spinner-ring {
      position: absolute;
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: #e83e8c;
      animation: fingerprint-spinner-animation 1500ms
         cubic-bezier(0.68, -0.75, 0.265, 1.75) infinite forwards;
      margin: auto;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
   }

   .fingerprint-spinner .spinner-ring:nth-child(1) {
      height: calc(120px / 9 + 0 * 120px / 9);
      width: calc(120px / 9 + 0 * 120px / 9);
      animation-delay: calc(50ms * 1);
   }

   .fingerprint-spinner .spinner-ring:nth-child(2) {
      height: calc(120px / 9 + 1 * 120px / 9);
      width: calc(120px / 9 + 1 * 120px / 9);
      animation-delay: calc(50ms * 2);
   }

   .fingerprint-spinner .spinner-ring:nth-child(3) {
      height: calc(120px / 9 + 2 * 120px / 9);
      width: calc(120px / 9 + 2 * 120px / 9);
      animation-delay: calc(50ms * 3);
   }

   .fingerprint-spinner .spinner-ring:nth-child(4) {
      height: calc(120px / 9 + 3 * 120px / 9);
      width: calc(120px / 9 + 3 * 120px / 9);
      animation-delay: calc(50ms * 4);
   }

   .fingerprint-spinner .spinner-ring:nth-child(5) {
      height: calc(120px / 9 + 4 * 120px / 9);
      width: calc(120px / 9 + 4 * 120px / 9);
      animation-delay: calc(50ms * 5);
   }

   .fingerprint-spinner .spinner-ring:nth-child(6) {
      height: calc(120px / 9 + 5 * 120px / 9);
      width: calc(120px / 9 + 5 * 120px / 9);
      animation-delay: calc(50ms * 6);
   }

   .fingerprint-spinner .spinner-ring:nth-child(7) {
      height: calc(120px / 9 + 6 * 120px / 9);
      width: calc(120px / 9 + 6 * 120px / 9);
      animation-delay: calc(50ms * 7);
   }

   .fingerprint-spinner .spinner-ring:nth-child(8) {
      height: calc(120px / 9 + 7 * 120px / 9);
      width: calc(120px / 9 + 7 * 120px / 9);
      animation-delay: calc(50ms * 8);
   }

   .fingerprint-spinner .spinner-ring:nth-child(9) {
      height: calc(120px / 9 + 8 * 120px / 9);
      width: calc(120px / 9 + 8 * 120px / 9);
      animation-delay: calc(50ms * 9);
   }

   @keyframes fingerprint-spinner-animation {
      100% {
         transform: rotate(360deg);
      }
   }
   /* ----- End Loading ---- */

   /* ----- Gallery ---- */
   .gallery-transition {
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
         z-index 0s linear 0.25s;
   }

   .skeleton-animation {
      animation: skeleton 1s linear infinite;
   }

   @keyframes skeleton {
      0% {
         transform: translate(-50px);
         opacity: 0;
      }

      20% {
         opacity: 0;
      }

      50% {
         transform: translate(20px);
         opacity: 0.3;
      }

      100% {
         transform: translate(300px);
         opacity: 1;
      }
   }
   /* ----- End Gallery ---- */

   .text-stroke {
      -webkit-text-stroke: 1.5px white;
   }
   .text-stroke-1 {
      -webkit-text-stroke: 1px #4a90e2;
   }
   .text-stroke-2 {
      -webkit-text-stroke: 1px #50e3c2;
   }
   .text-stroke-3 {
      -webkit-text-stroke: 1px #e35050;
   }

   .image-shadow {
      box-shadow: 0 5px 8px 0 #00000033;
   }
}
