@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.css';

/* base  */
@layer components {
   body {
      width: 100%;
      font-family: 'Inter', sans-serif;
      line-height: 1.5;
      overflow: hidden;
   }
   *::-webkit-scrollbar {
      width: 6px;
   }
   *::-webkit-scrollbar-thumb {
      border-radius: 4px;
      box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
   }
   *::-webkit-scrollbar-track {
      box-shadow: inset #fff;
      border-radius: 4px;
   }
   button,
   a {
      outline: none;
   }

   /*--------- custom css ---------*/
   .f-center {
      @apply flex items-center justify-center items-center;
   }

   .background-transition {
      transition: background-color 0.2s ease;
   }
}

/* ----- Header ---- */
@layer components {
   .btn-navigate {
      @apply flex items-center justify-center bg-transparent outline-none border-none font-normal py-[1px] pr-[22px] cursor-pointer;
   }

   .spin {
      animation: spinner 1s infinite linear forwards;
   }
   /* search box */
   @keyframes spinner {
      100% {
         transform: translateY(-50%) rotate(360deg);
      }
   }

   .text-truncate {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
   }
}

/* ----- Custom scroll ---- */
@layer components {
   .view {
      @apply absolute inset-0 overflow-y-scroll overflow-x-hidden my-0 mx-auto;
   }
   .view::-webkit-scrollbar {
      display: none;
      appearance: none;
   }
   body .mark {
      -webkit-mask-image: linear-gradient(
         180deg,
         hsla(0, 0%, 100%, 0),
         hsla(0, 0%, 100%, 0.8) 10%,
         #fff 25%,
         #fff
      );
   }
}
